.navbarSection {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    height: 2.5rem;
    outline: 1px solid var(--color2);
    background-color: var(--color1);
    z-index: 5;
}

.navbarSection img {
    height: 1.4rem;
    transition: height 0.4s, margin-top 0.4s;
    margin-left: 3rem;
}

.divNavGroupSec .nav {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color2);
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.divLink {
    border-left: 1px solid var(--color2);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}

.LinkLast {
    padding-right: 3.5vw;
}

.divLink:hover {
    background-color: var(--color2);
}

.divLink:hover .nav {
    color: var(--color1);
}

.divNavGroupSec {
    display: flex;
    align-items: center;
}


.active {
    background-color: var(--color2);
}

.active .nav{
    color: var(--color1) ;
}
