.Home {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.divHomeSection {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: 1px solid var(--color2);
    background-size: cover;
    transition: background-image 1s ease;
}

.divHomeSection.change-bg {
    transition: background-image 1s ease;
}

.divHomeSection.bg1 {
    background-image: url(../../../public/Background/Final1.png);
}

.divHomeSection.bg2 {
    background-image: url(../../../public/Background/Final2.png);
}

.divProductsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid var(--color2);
    padding: 4rem 1.5rem;
}

.divProductsSection .ProductsWaterName {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.divProducAbout {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color2);
    padding: 0.5rem;
}

.divProducAbout .video {
    height: 28vw;
    margin-bottom: 0.8rem;
}

.divDataProducts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

.divDataProducts .WaterName {
    font-size: 2rem;
    font-weight: 500;
}

.divDataProducts .WaterMl {
    font-size: 1.2rem;
    font-weight: 500;
}

.button {
    height: 3.5rem;
    background: none;
    margin-top: 1rem;
    border: 2px dotted var(--color2);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}


.button:hover,
.button1:hover {
    background-color: var(--color4);
    border: 1px solid var(--color4);
    color: var(--color1);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.button1 {
    height: 3.5rem;
    background-color: var(--color2);
    color: var(--color1);
    margin-top: 0.5rem;
    border: 1px solid var(--color2);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}


.divHomeProduct {
    display: flex;
 justify-content: center;
    width: 100%;
    gap: 3rem;
}

.divAboutProduct {
    outline: 1px solid var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.divAboutProduct2 {
    outline: 1px solid var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
height: fit-content;
}

.divAboutProduct1 {
    outline: 1px solid var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 3rem;
}

.divAboutProduct1 p {
    font-size: 2rem;
    text-align: center;
}

.Image1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 54.7vw;
    outline: 1px solid var(--color2);
}

.Image2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 47.7vw;
    outline: 1px solid var(--color2);
}

.divAboutProduct p {
    font-size: 4vw;
    margin: 3rem;

}

.divAboutProduct2 p {
    font-size: 4vw;
    margin: 3rem;

}

.SectionHome {
    position: absolute;
    bottom: 0;
    background-color: var(--color1);
}